.Image {
  display: block;
  width: 100%;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.BackgroundImage .Image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LazyImage {
  opacity: 0;
  transition: ease all 0.3s;
}

.LazyImage.faded {
  opacity: 1;
}
